HelloWebClient/HelloWebClient/Service References/Service/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DataItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Type" type="tns:DataItem.DataType" />
      <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataItem" nillable="true" type="tns:DataItem" />
  <xs:simpleType name="DataItem.DataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FullTimeDataItem">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PartTimeDataItem">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DataItem.DataType" nillable="true" type="tns:DataItem.DataType" />
  <xs:complexType name="FullTimeDataItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnnualSalary" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FullTimeDataItem" nillable="true" type="tns:FullTimeDataItem" />
  <xs:complexType name="PartTimeDataItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="HoursPay" type="xs:int" />
          <xs:element minOccurs="0" name="HoursWorked" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PartTimeDataItem" nillable="true" type="tns:PartTimeDataItem" />
</xs:schema>